<div class="page">

  <div id="main-wrapper">

    <div id="code-panel">

      <div class="form-group">
        <div class="input-group">
          <input type="text" #argStringInput class="form-control" name="" placeholder="Enter JS Arguments.." [(ngModel)]="args">
          <span class="input-group-btn">
            <button (click)="submitCode(argStringInput.value, text)" type="submit" class="btn btn-primary">
              <i class="icon wb-upload"></i> Submit Code </button>
          </span>
        </div>
      </div>

      <div ace-editor
           [(text)]="text"
           mode="javascript"
           style="height: 600px; font-size: 18px">
      </div>

      <div class="example">
        <button (click)="saveSnippet()" type="button" class="btn btn-primary">
          <i class="icon fa-save"></i> Save Snippet</button>

        <button (click)="loadSnippet()" type="button" class="btn btn-primary">
          <i class="icon fa-folder-open"></i> Load Snippet</button>
      </div>
    </div>

    <div id="viz-panel">

      <div id="viz-wrapper">

        <div id="graph-panel">
          <div id="graph-canvas" style="height: 100% !important;"></div>
        </div>

        <div id="controls-panel">

          <div id="player-speed">
            <input type="number" [(ngModel)]="speed" class="form-control player-speed-input">
          </div>

          <div id="controls-wrapper">


            <button *ngIf="shouldShowPlayButton()" (click)="play()" type="button" class="btn btn-floating btn-success" title="play">
              <i class="icon fa-play"></i></button>

            <button *ngIf="player?.playing" (click)="player.pause()" type="button" class="btn btn-floating btn-danger" title="stop">
              <i class="icon fa-pause"></i></button>

            <button *ngIf="player" (click)="player.startOver()" type="button" class="btn btn-floating btn-warning" title="start over">
              <i class="icon fa-refresh"></i></button>

            <button *ngIf="player" (click)="player.back()" type="button" class="btn btn-floating btn-primary" title="step backward">
              <i class="icon fa-angle-double-left"></i></button>

            <button *ngIf="player" (click)="player.forward()" type="button" class="btn btn-floating btn-primary" title="step forward">
              <i class="icon fa-angle-double-right"></i></button>

          </div>

        </div>
      </div>

    </div>

  </div>





  <!--<div class="container-fluid">

    <div class="row">

      <div class="col-4">
      </div>

      <div class="col-8">

        <div style="background: white">

          <div id="visualizer-container" style="height: 700px;"></div>

          <div style="display: flex; justify-content: center; padding: 10px">
            <button (click)="player.play()" type="button" class="btn btn-floating btn-success" title="play">
              <i class="icon fa-play"></i></button>

            <button (click)="player.pause()" type="button" class="btn btn-floating btn-danger" title="stop">
              <i class="icon fa-pause"></i></button>

            <button (click)="player.back()" type="button" class="btn btn-floating btn-danger" title="step backward">
              <i class="icon fa-angle-double-left"></i></button>

            <button (click)="player.forward()" type="button" class="btn btn-floating btn-primary" title="step forward">
              <i class="icon fa-angle-double-right"></i></button>
          </div>

        </div>

      </div>

    </div>
  </div>-->
</div>
