<div class="page">
  <div class="container">

    <div class="page-content container-fluid">
      <div class="welcome-wrapper text-center">

        <img src="../../../../assets/images/loop.png" style="height: 300px;"/>
        <h1>Welcome to Recurse and C</h1>
        <p>Visualize and decompose your recursive code</p>

        <h1 class="page-title">Ready to understand how it works?</h1>
        <br/>
        <div>
          <button routerLink="/viz" type="button" class="btn btn-direction btn-up btn-lg btn-primary">
            <i class="icon fa-code"></i> Let's Code!</button>
        </div>

      </div>
    </div>

  </div>
</div>
